/* :::: BikeStyle :::: */

.bike_card{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:ghostwhite
}   

.bikecard_fragment{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cadetblue;
}
