/* :::: BikeStyle :::: */
.card_wrap{
    margin-top: 4rem;
}

.bikecard{
    flex: 1 0 30%; 
    list-style: none;
    display:inline-block;
    gap: 1rem;
    width: 24rem;
    text-align:left;
    line-break: auto;
    margin: 1rem;
    background-color:var(--bikeCardColor);
}   

.bikecard_fragment{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 1.2rem;
}

.detail_button{
    margin-left:85%;
    font-size: 2rem;
    height: 1.4rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
