/* :::: Calculator Module css :::: */
.calculator_wrap{
    z-index:0;
    margin-top: 14%;
    position: absolute;
   /*  display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 24rem; */
}
.form_component{
    margin: 2rem;
}
.form_tag{
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin: 4px;
}