*{margin: 0; padding: 0; box-sizing: border-box;}
 
:root{
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
/*   --mainColor: white;
  --accentColor: black;
  --fontColor: black;
  --cardShadow: 0px 0px 1px black;
  --pageShadow: 0px 0px 2px black;
  --backgroundColor: white;
  --headerColor: white;
  --bikeCardColor: white;
  --modalBackground: rgba(0, 0, 0, 0.45); */
}

:root[data-theme='light']{
  --mainColor: white;
  --accentColor: black;
  --fontColor: black;
  --cardShadow: 0px 0px 1px black;
  --pageShadow: 0px 0px 2px black;
  --backgroundColor: white;
  --headerColor: white;
  --bikeCardColor: white;
  --imageBackground: transparent;
  --imageShadow: 0px 0px 2px transparent;
  --modalBackground: rgba(0, 0, 0, 0.45);
  transition: all 0.25s linear;
}


:root[data-theme='dark']{
  --mainColor:rgb(23, 23, 23);
  --accentColor: white;
  --fontColor: white;
  --cardShadow: 0px 0px 1px white;
  --pageShadow: 0px 0px 2px white;
  --backgroundColor: rgb(38, 38, 38);
  --headerColor: rgb(21, 21, 21);
  --bikeCardColor: rgb(23, 23, 23);
  --imageBackground: white;
  --imageShadow: 0px 0px 8px white;
  --modalBackground: rgba(255, 255, 255, 0.45);
  transition: all 0.25s linear;
}
 
.darkmode_button{
  width: 4rem;
}


body{
width: 100%;
height: 100%;
margin: 0em auto;
color: var(--fontColor);
background: var(--backgroundColor);
}

button{
  cursor: pointer;
  width: 16rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  color: var(--fontColor);
/* top | right | bottom | left */
  padding: 4px 14px 4px 14px;
  border: none;
  background-color: var(--backgroundColor);
  box-shadow:0px 0px 2px rgba(0, 0, 0);
}
button:hover{
  box-shadow: var(--pageShadow);
}

input, select{
  margin:0px 4px 0px 4px;
  padding: 8px;
  font-size: 1.2rem;
}


/* :::: global range slider styles :::: */
/* ::: general apperance ::: */
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 16rem;
}
/* :::: TRACK >> Chrome, Safari, Opera, and Edge Chromium :::: */
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--accentColor);
  height: 2px;
}
/* :::: Firefox :::: */
input[type="range"]::-moz-range-track {
  background: var(--accentColor);
  height: 2px;
}
/* :::: THUMB >> Chrome, Safari, Opera, and Edge Chromium :::: */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -14px; /* Centers thumb */
  /* border: 1px solid black; */
  box-shadow: 0px 0px 2px var(--accentColor);
  background-color: var(--mainColor);
  height: 2rem;
  width: 2rem;    
}
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
 /*  border: 1px solid black; */
  box-shadow: 0px 0px 2px var(--accentColor);
  background-color: var(--mainColor);
  height: 2rem;
  width: 2rem;
}


/* :::: global radio style :::: */

/* easy one: */
input[type='radio']{
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
}





/* .radio_label{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* hide the default box */
/* input[type='radio']{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */
/* custom checkmark */
/* .radio_box{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid var(--accentColor);
  background-color: var(--mainColor);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/* .radio_label:hover input[type='radio'] ~ .radio_box {
  background-color: #ccc;
}

input[type='radio']:checked ~ .radio_box{
  background-color: var(--accentColor);
}
 */
/* Create the indicator (the dot/circle - hidden when not checked) */
/* .radio_box:after {
  content: "";
  position: absolute;
  display: none;
} */
/* Show the indicator (dot/circle) when checked */
/* .radio_label input[type='radio']:checked ~ .radio_box:after{
  display: block;
} */

/* Style the indicator (dot/circle) */
/* .radio_label .radio_box:after{
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}  */