*{margin: 0; padding: 0; box-sizing: border-box;}
 
:root{
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
  --mainColor: ghostwhite;
  --accentColor: gainsboro;
  --backgroundColor: white;
  --headerColor: white;
  --bikeCardColor: white;
}
 
body{
width: 100%;
height: 100%;
margin: 0em auto;
background: var(--backgroundColor);
}

button{
  cursor: pointer;
  width: 16rem;
  margin: 0.5rem;
  font-size: 1.2rem;
/* top | right | bottom | left */
  padding: 4px 14px 4px 14px;
  background-color: var(--mainColor);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.25);
}
input, select{
  margin:0px 4px 0px 4px;
  padding: 8px;
  font-size: 1.2rem;
}

/* :::: global style for all Range Sliders :::: */
/* :: << Range Reset >> :: */
input[type='range'] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 15rem;
}
/* :: << Removes default focus >> :: */
input[type='range']:focus {
 outline: none;
}
                        
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type='range']::-webkit-slider-runnable-track {
  background: black;
  height: 0.5rem;
}

/******** Firefox ********/
input[type='range']::-moz-range-track {
  background: black;
  height: 0.5rem;
}
/* :::: << Thumb Styles >> :::: */
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  border: 1px solid black;
  background-color: white;
  height: 2rem;
  width: 2rem;    
}

