/* :::: Home Module css :::: */
.main {
display: flex;
flex-direction: row;
justify-content:space-evenly;
align-items:center;
gap: 1rem;
flex-wrap: wrap;
min-width: 80%;
min-height: 100vh;
margin: 0em auto;
padding-top: 16rem;
text-align: center;
background-color: var(--backgroundColor);
}

.loader{
    margin-top: 40vh;
    margin-left: 20vw;
    font-size: 4rem;
}

