/* :::: info style :::: */
.jumbo{
    display:inline-block;
    width: 24rem;
    height: 42rem;
}
.arcticle{
    display:inline-block;
    font-size: 1.2rem;
    text-align:justify;
    text-wrap:wrap;
}

/* :::: accordeon :::: */
.accordeon_wrap{
    /* top | right | bottom | left */
    margin: 1rem 0rem 6rem 0rem;
}
.accordeon_body{
    width: 62rem;
    margin: 1.2rem;
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid black;
}
.accordeon_header{
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}
.accordeon_icon{
    cursor: pointer;
    margin-right: 96%;
    font-size: 1.4rem;
    transition: 0.4s;
}

