/* :::: info style :::: */
.jumbo{
    display:inline-block;
    width: 24rem;
    height: 42rem;
}
.arcticle{
    display:inline-block;
    font-size: 1.2rem;
    text-align:justify;
    text-wrap:wrap;
}

/* :::: accordeon :::: */
.accordeon_wrap{
    /* top | right | bottom | left */
    margin: 1em 0em 6em 0em;
}

.accordeon_body{
    width: 62rem;
    margin: 1.2rem;
    padding: 0em 0.2em 1em 0.2em;
    font-size: 1.4rem;
    line-height: 2.5;
    letter-spacing: 2px;
}

.accordeon_header{
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    box-shadow: var(--pageShadow);
}

.accordeon_icon{
    cursor: pointer;
    margin-right: 96%;
    font-size: 1.4rem;
    transition: 0.4s;
}

.accordeon_content{
    padding: 1em;
}

.content_wrap{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1.2rem;
    text-align: justify;
}

.image{
    float: inline-end;
}
