/* :::: NavBar style :::: */
.navbar_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav_links_wrap{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_link{
    margin: 0 1rem;
    color: var(--accentColor);
    text-decoration: none;
}
