/* :::: searchbar styles :::: */
.searchbar_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.list{
    list-style: none;
    margin: 1rem;
    font-size: 1.2rem;
}